/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}